.Sider {
  overflow: hidden;
  padding: 0;
  margin: 25px 0 0 0;
  background: white;
}
.LecturerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 93vh;
  background: #fce7cc;
  border-left: 1px solid rgb(212, 212, 212);
}
.LecturerShow {
  background: white;
  height: 90vh;
  width: 99%;
  border-radius: 20px;
  padding: 10px;
  margin: 8px;
  justify-content: center;
  overflow: scroll;
}
.logOutBtn {
  text-align: left;
  width: 98%;
  margin: 0 0 8px 11px;
}
.createSlotBtn {
  margin-left: 3%;
}
.DisplayBtn {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
}
.LecturerShowBtn {
  display: none;
}

.lecturerCreatedSlots {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: scroll;
  padding: 0 0 20px 0;
}
.lecturerCreatedSlots ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: calc(100% / 7);
  min-width: 120px;
  text-align: center;
}
.lecturerCreatedSlots ul li:first-child {
  font-size: 16px;
  font-weight: 600;
  margin: 4px 0 4px 0;
}
.lecturerCreatedSlots ul li:nth-child(2) {
  font-size: 14px;
}
.LecturerSelectedDates {
  color: #f18057;
  font-weight: 500;
}
.ant-empty {
  position: sticky;
  left: 50%;
  margin-top: 50px;
}
.addLocationBtn {
  margin-top: 15px;
  margin-left: 3.5px;
}
.tableOfLocations {
  margin-top: 10px;
  width: 100%;
}
.locationDeleteBtn {
  color: red;
  margin-left: 20px;
}
.editLocationForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.editLocationForm Form {
  width: 50%;
}
.sectionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  left: 5px;
  margin: 15px 0 0 3.4%;
  padding: 0 5px 12px 5px;
  border-bottom: 1px solid rgb(227, 226, 226);
  width: 93%;
}
.sectionTitle Button {
  margin: 0;
}
.createdSlotTabs {
  width: 100%;
}
.createdSlotTabs .ant-tabs-nav {
  width: 93.5%;
  position: sticky;
  left: 3.5%;
}
.CalenderViewSupportBtn {
  margin-left: 3.5%;
}
.CalenderViewSupportBtn Button {
  margin: 5px 5px 7px 0;
}
.CalenderViewSupportBtn Button:last-child {
  margin-left: 8px;
}
.tableviewcontainer {
  width: 100%;
  overflow: scroll;
}
@media only screen and (max-width: 576px) {
  .LecturerShow {
    height: 100vh;
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  .LecturerShowBtn {
    display: block;
    margin-left: 10px;
  }
  .Sider {
    margin: 0;
    border-bottom: 1px solid rgb(212, 212, 212);
    padding-bottom: 12px;
  }
  .LecturerContent {
    border-left: none;
  }
  .createSlotBtn {
    margin-left: 1.7%;
  }
  .locationDeleteBtn {
    margin-left: 0;
  }
  .editLocationForm Form {
    width: 90%;
  }
}
