.Sider {
    overflow: scroll;
    padding: 10px 0 0 0;
    background: white;
}
.LecturerContent {
    min-height: 95vh;
    background: #FCE7CC;
}
.logOutBtn {
    text-align: left;
    width: 98%;
    margin: 0 0 8px 0;
}
.createSlotBtn {
    margin-left: 4%;
}