.Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1% 0 2%;
    box-shadow: 0px 1px 15px rgb(165, 165, 165);
    border-bottom: 1px solid rgb(212, 212, 212);
    background: white;
}
.Nav .User, 
.Nav .logo {
    margin: 0;
    padding: 10px 0 10px 0;
}
.Nav .User {
    margin-right: 4.5px;
}

.Nav .User {
    display: flex;
    align-items: center;
}

.Nav .User .Name {
    margin-right: 7px;
}
@media screen and (max-width: 576px) {
    .Nav .User .Name {
        display: none;
    }
    .Nav {
        border-bottom: none;
    }
    .Nav .logo {
        margin-left: 5px
    }
}

.Nav .User .Icon {
    font-size: 20px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 50%;
}